<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>E Store - eCommerce HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="userpage/css/style.css" rel="stylesheet">
    </head>

    <body>
       
        
        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        <% cartdata[0].productID.forEach((data =>{ %>
                                        <tr class="rows<%= data.id._id %>">
                                            <td>
                                                <div class="img">
                                                    <a href="#"><img src="img/<%= data.id.imagepath[0] %>" alt="Image"></a>
                                                    <p><%= data.id.productname %></p>
                                                </div>
                                            </td>
                                            <td class="Price"> ₹ <%= data.id.offerprice %></td>
                                            <td>
                                                <div class="qty" style="background-color: white;">
                                                
                                                    <input class="quantity" type="number" name="quantity " onchange="quantityUpdate(this.value,'<%= data.id._id %>')" value="<%= data.quantity %>" min="1" max="<%= data.id.stock %>">
                                                    
                                                </div>
                                            </td>
                                            <td class="total"></td>
                                            <td><button onclick="confirmDelete('<%= data.id._id %>')"><i class="fa fa-trash"></i></button></td>
                                            <%})) %>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="coupon">
                                        <input type="text" placeholder="Coupon Code">
                                        <button>Apply Code</button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="cart-summary">
                                        <div class="cart-content">
                                            <h1>Cart Summary</h1>
                                            <p>Sub Total<span>$99</span></p>
                                            <p>Shipping Cost<span>$1</span></p>
                                            <p>Gst<span>5%</span></p>
                                            <h2>Grand Total<span>$100</span></h2>
                                        </div>
                                        <div class="cart-btn">
                                            <button>Clear cart</button>
                                            <button>Checkout</button>
                                            <button>back to home</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->
        
         
        
        <!-- Template Javascript -->
        <script src="userpage/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


        <script src="userpage/js/cartdelete.js"></script>
    </body>
</html>
