<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>E Store - eCommerce HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="userpage/img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="userpage/lib/slick/slick.css" rel="stylesheet">
        <link href="userpage/lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="userpage/css/style.css" rel="stylesheet">
    </head>

    <body>
        <form action="/checkout"  method="post">
        <div class="checkout" >
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-lg-8">
                        <div class="checkout-inner">
                            <div class="billing-address">
                                <h2>Billing Address  is the same profile address or <br> add new address</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>First Name</label>
                                        <input class="form-control" type="text" value="<%= udersignupdata && udersignupdata.name ? udersignupdata.name :'' %>" name="firstname">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Last Name"</label>
                                        <input class="form-control" type="text" value="Last Name" name="lastname">
                                    </div>
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                        <input class="form-control" type="email" value="<%= udersignupdata && udersignupdata.email ? udersignupdata.email :'' %>" name="email">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Mobile No</label>
                                        <input class="form-control" type="tel"  value="<%= udersignupdata && udersignupdata.mobile_number ? udersignupdata.mobile_number :'' %>" name="mobile">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Address</label>
                                        <input class="form-control" type="text" value='<%= userdata && userdata.house_name ? userdata.house_name :"" %> , <%= userdata && userdata.place ? userdata.place :"" %>' name="address">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Country</label>
                                        <input class="form-control" type="text" value="india" name="country">
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <label>City</label>
                                        <input class="form-control" type="text" value="<%= userdata && userdata.city ? userdata.city :'' %>" name="city">
                                    </div>
                                    <div class="col-md-6">
                                        <label>State</label>
                                        <input class="form-control" type="text" value="<%= userdata && userdata.state ? userdata.state :'' %>" name="state">
                                    </div>
                                    <div class="col-md-6">
                                        <label>ZIP Code</label>
                                        <input class="form-control" type="number" value="<%= userdata && userdata.pincode ? userdata.pincode :'' %>" name="zipcode">
                                    </div>
                                  
                                    
                                </div>
                                
                            </div>
                          
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout-inner">
                            <div class="checkout-summary">
                                <h1> Total Amount </h1>
                                <p>total product amount<span class="totalprice"><%= totalprice %></span></p>
                                <p class="sub-total">disount<span class="disount">0%</span></p>
                        
                                <h2>Grand Total<span class="grandtotal"><%= totalprice %></span></h2>
                            </div>

                            <div class="checkout-payment">
                                <div class="payment-methods">
                                    <h1>applay coupon</h1>
                                    <div class="payment-method">
                                        <ul>
                                       <li> <p>buy 500-1000 you can get 5% off</p></li>
                                       <li><p>buy 1000-5000 you can get 12% off</p></li>
                                       <li><p>buy 5000 above you can get 15% off</p></li>
                                        </ul>
                                    </div>
                                
                                    <label for="coupon"> enter your coupon code</label>
                                    <input type="text" name="coupon" class="inputvalue" onblur="applaycode(this.value)"><br><br>
                                  
                                
                                </div>
                            </div>
                            <div class="checkout-payment">
                                <div class="payment-methods">
                                    <h1>Payment Methods</h1>
                                    <div class="payment-method">
                                        <div class="col-md-6">
                                            <label>payment</label>
                                            <select class="custom-select" name="payment">
                                                <option >cash on delivery</option>
                                                <option>online payment</option>
                                                
                                                
                                            </select>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="checkout-btn">
                                    <button onclick="orderplaced()"></button>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        
        <!-- Checkout End -->
        
     
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="userpage/lib/easing/easing.min.js"></script>
        <script src="userpage/lib/slick/slick.min.js"></script>
        
        <!-- Template Javascript -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="userpage/js/main.js"></script>
        <script src="userpage/js/checkout.js"></script>

    </body>
</html>
