<!DOCTYPE html>
<html lang="en">

<head>
   
    Dcart
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
</head>
<body>

<%- include("layouts/hedder") -%>


        <section class="content-main">
            <h1>Coupons</h1>
            <div class="container-fluid">
                <div class="left">
                    <a href="/admin/couponadd " class="btn btn-success btn-download">
                        <i class='bx bxs-plus-circle'></i>
                        <span class="text">Add New coupons</span>
                    </a>
                </div>
                <div class="card mt-4">
                    <div class="table-data">
                        <div class="order">
                            
                                <div class="table-responsive">

                                    <div class="table-responsive">
                                        <table id="tablePagination" class="table table-bordered table-hover table-striped">
                                            <thead class="thead-dark">
                                                <tr >
                                                    <th scope="col">
                                                        <center>coupon code</center>
                                                    </th>
                                                    <th scope="col">
                                                        <center>max_rate</center>
                                                    </th>
                                                    <th scope="col">
                                                        <center>min_rate</center>
                                                    </th>
                                                    <th scope="col">
                                                        <center>discount</center>
                                                    </th>
                                                    <th scope="col">
                                                        <center>delete</center>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <% data.forEach((data) =>{ %>

                                            
                                            <tr>
                                               <td><center><%= data.coupon %></center></td>
                                               <td><center><%= data.max_rate %></center></td>
                                               <td><center><%= data.min_rate %></center></td>
                                               <td><center><%= data.discount %></center></td>
                                               <td><center><button>delete</button></center></td>
                                            </tr>
                                            <% }) %>
    
    
    
                                           
                                            </tbody>
                                            
                                        </table>
                                        
                                    </div>
                        

                                        

                                   
                                    
                             
                    </div>
                </div>
            </div>
        </section>

        <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <%- include("layouts/footer") -%>
        </footer> 
    </main>

   


    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <!-- Include Axios from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
    

    <!-- Main Script -->
    <script src="/assets/js/main.js?v=1.1" type="text/javascript"></script>
</body>

</html>