<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>

<body>
    <%- include("layouts/hedder") -%>



        <section class="content-main">
            <div class="container-fluid">
                <div class="left">
                    <a href="/admin/productsadd " class="btn btn-success btn-download">
                        <i class='bx bxs-plus-circle'></i>
                        <span class="text">Add New product</span>
                    </a>
                </div>
                <div class="category">
                    <form action="/filterproduct" method="post">
                 <select name="category" id="category">
                    <option value=""></option>
                 </select>
                    </form>
                </div>
                <div class="card mt-4">
                    <div class="table-data">
                        <div class="order">
    
                                <div class="table-responsive">
                                    <table id="tablePagination" class="table table-bordered table-hover table-striped">
                                        <thead class="thead-dark">
                                            <tr >
                                                <th scope="col">
                                                    <center>Image</center>
                                                </th>
                                                <th scope="col">
                                                    <center>Name</center>
                                                </th>
                                                <th scope="col">
                                                    <center>Quantity</center>
                                                </th>
                                                <th scope="col">
                                                    <center>Category</center>
                                                </th>
                                                <th scope="col">
                                                    <center>Price</center>
                                                </th>
                                                <th scope="col">
                                                    <center>Offer</center>
                                                </th>
                                                <th scope="col">
                                                    <center>subcategory</center>
                                                </th>
                                                <th scope="col">
                                                    <center>proddect edit</center>
                                                </th>
                                                <th scope="col">
                                                    <center>proddect delete</center>
                                                </th>

                                            </tr>
                                        </thead>



                                        <tbody>
                                            <% products.forEach(data => { %>
                                                <tr class="row<%=data._id%>">                                                    <td><div class="scroll-container">
                                                        <img src="/img/<%= data.imagepath[0] %>" alt="Cinque Terre" width="50px" height="50px">
                                                       
                                                      </div></td>
                                                    <td><center><%= data.productname %></center></td>
                                                    <td><center><%= data.stock %></center></td>
                                                    <td><center><%= data.category %></center></td>
                                                    <td><center><%= data.price %></center></td> 
                                                    <td><center><%= data.offerprice %></center></td>
                                                    <td><center><%= data.subcategory %></center></td>
                                                    <td><center><button onclick="window.location.href='/admin/productedit/<%= data._id %>'">product edit</button></center></td>
                                                    <td><center><button id="delete" onclick="confirmDelete('<%=data._id%>')">delete</button></center></td>
                                                    
                                                    
                                                    <!-- Add other columns as needed -->
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                        
                                    </table>
                                    
                                </div>
                    
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        

      
        <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <%- include("layouts/footer") -%>
        </footer>
    </main>

    


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmDelete(id) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085D6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then(async(result) => {
            if (result.isConfirmed) {
                console.log(id);
                const response=await fetch(`/admin/productdelete?id=${id}`,{method:"delete"});
                console.log(response);
                if (!response.ok) {
                    throw new Error("Error deleting product: " + response.statusText);
                }
                // const result = await response.json();
                if (response.status==200) {
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                    document.querySelector('.row'+id).remove()
                } else {
                    message.innerHTML = result.error || "Unknown error";
                }
            }
        });
   }
</script>


    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <!-- Include Axios from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="http//code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
   

    <!-- Main Script -->
    <script src="/assets/js/main.js?v=1.1" type="text/javascript"></script>
</body>

</html>