<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
rel="stylesheet">
    <link rel="stylesheet" href="/css/admin/dashboard.css">
    <link rel="stylesheet" href="/css/user.css">
    <title>AdminSite</title>
</head>
<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand"><i class='bx bxs-smile icon'></i> AdminSite</a>
        <ul class="side-menu">
            <li><a href="/admin/adminhome" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
            <li><a href='/admin/addproduct'><i class='bx bxs-inbox icon' ></i> Add Product</i></a></li>
            <li><a href='/admin/products' class="active" ><i class='bx bxs-chart icon' ></i> Products</a></li>
            <li><a href="/admin/categories"><i class='bx bxs-widget icon' ></i> Categories</a></li>
            <li><a href="/admin/userslist"><i class='bx bx-table icon' ></i> Users List</a></li>
            <li><a href="/admin/coupon"><i class='bx bxs-notepad icon' ></i>Add Coupon </a></li>
        </ul>
    </section>
    <!-- SIDEBAR -->
    <!-- NAVBAR -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu toggle-sidebar' ></i>
            <form action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search...">
                    <i class='bx bx-search icon' ></i>
                </div>
            </form>
            <a href="#" class="nav-link">
                <i class='bx bxs-bell icon' ></i>
                <span class="badge">5</span>
            </a>
            <a href="#" class="nav-link">
                <i class='bx bxs-message-square-dots icon' ></i>
                <span class="badge">8</span>
            </a>
            <span class="divider"></span>
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                <ul class="profile-link">
                    <li><a href="#"><i class='bx bxs-user-circle icon' ></i> Profile</a></li>
                    <li><a href="#"><i class='bx bxs-cog' ></i> Settings</a></li>
                    <li><a href="#"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
                </ul>
            </div>
        </nav>
        <main>
            <h1 class="title" style="padding-left: 10px;">Products</h1>
            <ul class="breadcrumbs"style="padding-left: 10px;">
                <li><a href="/admin/adminhome">Home</a></li>
                <li class="divider">/</li>
                <li><a href="#" class="active">Products</a></li>
            </ul>
            <div class="productsfull">
                <div class="productform">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th style="padding-left: 50px; font-weight: bold;">Image</th>
                                <th style="font-weight: bold;">Name</th>
                                <th style="font-weight: bold;">Price</th>
                                <th style="font-weight: bold;">Delete</th>
                                <th style="font-weight: bold;">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% productDetails.forEach((product)=>{ %>
                                <tr class="row<%=product._id%>">
                                    <td style="padding-left: 50px;"><img src="/uploads/<%= product.productImage[0] %>" class="card-img-top" style="aspect-ratio: 1 / 1;height: 60px; width: 50px;" /></td>
                                    <td style="padding-top: 30px;"><h5 class="card-title"><%= product.productName %></h5></td>
                                    <td style="padding-top: 30px;"><p class="card-text">₹<%= product.discount %></p></td>
                                    <td style="padding-top: 30px;"><a href="javascript:void(0);"  class="btn btn-light border px-2 pt-2 icon-hover" onclick="confirmDelete('<%=product._id%>') ;"><i class="fas fa-trash fa-lg text-secondary px-1"></i></a></td>
                                    <td style="padding-top: 30px;"><a class="btn btn-light border px-2 pt-2 icon-hover" onclick="window.location.href='/admin/editproduct/<%= product._id %>'"><i class="fas fa-pencil fa-lg text-secondary px-1"></i></a></td>
                                </tr>
                               <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmDelete(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085D6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(async(result) => {
                if (result.isConfirmed) {
                    const response=await fetch(`/admin/deleteproduct?id=${id}`,{method:"delete"});
                    if (!response.ok) {
                        throw new Error("Error deleting product: " + response.statusText);
                    }
                    const result = await response.json();
                    if (result.success) {
                        Swal.fire({
                            title: "Deleted!",
                            text: "Your file has been deleted.",
                            icon: "success"
                        });
                        document.querySelector('.row'+id).remove()
                    } else {
                        message.innerHTML = result.error || "Unknown error";
                    }
                }
            });
       }
   </script>
    <script src="/js/script.js"></script>
</body>
</html>